# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ARCHIVOS DE ENTORNO
# =========================
.env
venv/
env/

# =========================
# ARCHIVOS DE LOG
# =========================
*.log
logs.txt

# =========================
# ARCHIVOS TEMPORALES / BACKUP
# =========================
*.pkl
*.tmp
*.bak

# =========================
# CONFIGURACIÓN DE EDITORES
# =========================
.vscode/
.idea/

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db